.newjournal{
    height: 25rem;
    width: 18rem;
    margin-top: 1rem;
    justify-self: center;
    background-color: #f9f9f9fa;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.journal-buttons{
    height: 3rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

h5{
    color: red;
}