/*Form Container*/
.form-container{
    height: 23rem;
    width: 55rem;
    justify-self: center;
    margin-top: 2rem;
    border: 1px solid #f9f9f9fa;
    border-radius: 0.5rem;
    background-color: #f9f9f9fa;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
}

/*Form Fields*/
.essential-fields{
    height: 11rem;
    width: inherit;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
}

.option-fields{
    height: 11rem;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
}
.share-fields{
    height: 5rem;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advance-fields{
    height: 20rem;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
}
.off{
    display: none;
}

/*Form Menu Buttons*/
.form__menu-buttons{
    height: 3rem;
    width: 14rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
    /*border: 1px solid black;*/
}
.form__action-buttons{
    height: 3rem;
    width: 14rem;
    bottom: 0;
    justify-self: right;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 2rem;
    /*border: 1px solid black;*/
}
.button{
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid #dfdedefa;
    background-color: #dfdedefa;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    
}
.button p {
    font-size: small;
    font-weight: 300;
    color: rgb(90, 90, 90);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button-selected{
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid #22758afa;
    background-color: #22758afa;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.button-selected p {
    font-size: small;
    font-weight: 300;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*Form Elements*/
.input-row{
    height: 5rem;
    width: inherit;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    /*border: 1px solid black;*/
}
.input-row__container{
    height: 5rem;
    width: 25rem;
    display: flex;
    justify-items: center;
    align-items: center;
    /*border: 1px solid black;*/
}

.small-static-input{
    height: 2rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
}

/*Dropdown Menu*/
.dropdown-menu{
    height: 2rem;
    width: 10rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}